/* CSS DOCUMENT*/

body{
	background-color: rgb(170, 180, 255);
	color:  rgb(18, 19, 113);
	text-align:center;
}

h1{
         font-family: serif;
         font-size: 3em;
	 /*color: rgb(18, 19, 113);*/
	 padding:  0.5em;
	 background-color: rgb(170, 180, 255);
	 text-align:center;
}

h2{
         font-family: serif;
         color: rgb(18, 19, 113);
         font-style: italic;
         font-size: 2em;
	 text-align:center;
}

h3{
         font-family: serif;
         /*color: rgb(18, 19, 113);*/
	 background-color: rgb(170, 180, 255);
         font-size: 1.8em;
	 padding: .25em 0 .25em .5em;
	 text-align:center;
}
p{
	font-family: sans-serif;
	font-style: normal;
	text-align:center;
}

.price{
	font-family: sans-serif;
	font-style: italic;
	text-align:center;
}
