/* CSS DOCUMENT*/

body{
	background-color: rgb (236, 287, 216);
	color:  rgb (49, 49, 49);
}

h1{
         font-family: Sans-serif;
         font-size: 3em;
	 font-color: rgb (49, 49, 49);
         padding:  0.5em;
         background-color: rgb (170, 180, 255);
}

h2{
         font-family: Sans-serif;
         font-color:  rgb (49, 49, 49);
         font-style: italic;
         font-size: 2em;
}

h3{
         font-family: sans-serif;
         font-color:  rgb (49, 49, 49);
         font-size: 1.8em;
	 padding: .25em 0 .25em .5em;
}
p{
	font-family: sans-serif;
	font-style: normal;
}

.price{
	font-family: sans-serif;
	font-style: italic;
}
