/*CSS Document*/

body {
    background-color: rgb(236, 229, 213); 
    color: rgb(61, 42, 41);  
    line-height: 160%; 
    font-family: Etna, regular;  
    font-weight: 300;  
    font-style: normal;
    padding: 0rem 2rem 0rem;
}

header {
    grid-column: 1/3;
    grid-row: 1/2;
    padding-bottom: 4em;
}

h1{
    margin-top: 0rem;
    display: flex;
}

h2 {
	color: rgb(61, 42, 41);
    font-family: Etna, regular;
	font-size: 1.5em; 
    font-weight: 600;  
    font-style: normal;
    line-height: 1.5em;
    padding-top: 0;
    margin: 0;
}

h3 {
	color: rgb(61, 42, 41);
    font-family: Etna, regular;
    font-size: 1.3em;  
    font-weight: 600;  
    font-style: normal;
    margin: 0em 0em 0.5em;
}

h3:hover {
    color: rgb(142, 157, 108)
    }

h4 {
    margin-bottom: 0;
}

p{
    color: rgb(61, 42, 41);  
	line-height: 160%; 
	font-family: FreightBig Pro, medium;  
    font-weight: 300;  
    font-style: normal;
    padding: 0rem 0rem 1rem;
    margin-top: 0.2em;

}
nav{
    float: left
}

div.container {
    max-width: 70em;
    margin: auto;

}

div.fullstory {
    max-width: 60em;
    margin: auto;
}

.fullstory{
padding-bottom: 5em;
}



figure{
    margin: 0;
    padding-bottom: 0.5em;
}

figcaption {
    color: rgb(61, 42, 41);  
	line-height: 160%; 
	font-family: FreightBig Pro, book;  
    font-weight: 300;  
    font-style: italic;
    padding: 0rem 0rem 1rem;
}

img {
    width: 100%;
}

nav ul {
    padding: 0em 0em;
}
nav ul li {
    display: block;
    list-style-type: none;
    font-family: Etna, regular;  
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1em;
    font-weight: 600;
   
  
}
nav ul li a{
    color: rgb(61, 42, 41);
    text-decoration: none;
}
nav ul li a:hover {
    color:rgb(142, 157, 108); 
}
a {
    color:rgb(61, 42, 41);
    text-decoration: none;
}
a:hover { 
    text-decoration: none; 
    color:rgb(142, 157, 108);
    }
article{
    border-top: .15rem solid rgb(61, 42, 41);
    padding-top: 3em;
}
footer {
    padding-top: 4em;
}
aside {
    border-top: .15rem solid rgb(61, 42, 41);
}
.nextstory img {
    padding-top: 3em;
}



main {
    padding-bottom: 4em;
    position: relative;
    overflow: hidden;
}
div.container aside {
    padding-top: 2em;
}
main.photogallery figure {
    margin: 0;
    width: 100%;
    position: absolute;
    left: 100%;
    transition: left 1s, opacity 1s;
    opacity: 0;
}

main.photogallery {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: calc(72% + 3em);
    width: 100%;
    margin: auto;
    grid-column: 1/3;
}

nav.photogallery {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.2em;
}

input.photogallery {
    display: none;
}

section.newsletter ul li label {
    flex: 1 0 5em;
    }
    section.newsletter ul li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    }
    section.newsletter ul li input[type="text"],
    section ul li input[type="email"],
    section ul li input[type="tel"],
    section ul li select {
    flex: 5 0 25em;
    box-sizing: border-box;
    }
    section.personalinformation {
    padding-top: 2em;
    }
    section.newsletter ul li label {
    flex: 1 0 5em;
    }

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    left: 0;
    opacity: 1;
}



    
    .formButton {
        background-color:#e66007;
        display:inline-block;
        color:#ffffff;
        font-size:1em;
        font-weight: 500;
        padding: 1em 2em;
        margin-top: 2em;
        margin-bottom: 2em;
        text-decoration:none;
        text-transform: uppercase;
    }
    

    
    .formButton:hover {
        background-color: #d1460a;
        color:#ffffff;
    }
    
    .formButton:active {
        position:relative;
        top:0.1875em;
    }
@media screen and (min-width: 60em){
 
    div.fullstory {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 0 2em;
    }
    
    div.fullstory main {
         padding-top:0;
        grid-column: 1/2;
        display: grid;
        grid-gap: 0 1em;
    }
    
    
    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 3em;
    }
    
    main {
        padding-top:0;
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 2em;
    }

    div.container section.mainstory {
        grid-column: 1/3;
        grid-row: 1/2;
        padding-bottom: 0em;
    }

    div.container aside {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .logo {
        padding: 1.5em 0em 0.5em 0em;
        max-width: 15em;
        margin: auto;
        display: flex;
        justify-content: left;
       }

  

    nav ul{
        text-align: left;
    }   

    nav ul li {
        display: inline;
        list-style-type: none;
        font-family: Etna, regular;  
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 1.3em;
        font-weight: 600;
        margin-right: 1em;
        text-align: left;
        padding: 0 1.5em 0 0;
    }
    h2 {
        font-size: 2em;
        max-width: 40em;
        margin-top: 0;
    }
    h1 {
        justify-content: left;
    }
    h3 {
        color:rgb(61, 42, 41)
    }
    aside {
        border-top:none;
        padding: 0;
    }
    .nextstory img {
        padding-top: 0em;
    }
   
input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1px;
}

input{
    display: none;
}
div.logo{
    width: 30%;
    padding-right: 60em;
}
}
