/*CSS DOCUMENT*/


img {
    width: 100%; 
}
body {
	background-color: rgb(255, 230, 254);
}
main {
	padding: 2em 1em 1em 2em;
}
div.container {  
    max-width: 70em;  
    margin: auto;  
}  
header {  
    padding-top: 2em; 
}
figure {
    margin: 1em 1em 1em 1em;
}
h1 {
	color: rgb(255,157,181);
	font-family: soap, regular;
	font-weight: 700;
	font-style: normal;
	margin-bottom: 0.5em;
}
h2 {
	color: rgb(255,157,181);
	font-family: soap, regular;
	font-size: 2em;
	font-style: normal;
	margin-bottom: 0.5em;
}
h4 {
	color: rgb(192, 109, 130);
	font-family: avenir-black;
	font-weight: 300;
	font-style: normal;
	margin-bottom: 0.5em;
    margin-left: 0.5em;
    text-transform: uppercase;
}
p {
	font-family: avenir, regular;
	font-weight: 400;
	font-style: normal;
	color: rgb(61, 4, 37);
	margin: 0.1em;
    margin-left: 0.5em
}
li {
	font-family: soap, regular;
	font-weight: 400;
	font-style: normal;
}
ul, ol {
	margin: 3em 0em 3em 1em;
}
ul {
   list-style-type: none;
}
nav ul {
    padding: 1em;
}
nav ul li {
    display: inline;
    grid-column: 1/3;
    margin-right: 0.5em;
    font-size: 1.5em;
    letter-spacing: 0.05em;
	margin-top: 2em;
}
nav ul li a{
    color: rgb(255,157,181);
    text-decoration: none;
}
nav ul li a:hover {
    color:rgb(192, 109, 130);
}
footer {
	background-color:rgb(255,157,181);
	padding: 1em;
    margin-top: 2em;
}
address {
	font-family: avenir, regular;
	font-weight: 400;
	font-style: italic;
	margin-top: 2em;
}
aside {
	margin-top: 1em;
}
@media screen and (min-width:40em){
	header {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
	nav {
		margin-left: 1em;
	}
}
/*Please don’t change this CSS stylesheet for the content hierarchy assginment */